<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div style="display: none;">
      <input id="idNone"></input>
      <input id="pwdNone"></input>
</div>
<center>
		管理员名称：<input id="name" class="easyui-validatebox" data-options="validType:'minLength[5]'">  <br>
		 管理员密码：<input id ="pwd"class="easyui-passwordbox"  prompt="不填者为不修改" iconWidth="28" > <br>
		 管理员备注：<input id="bz" class="easyui-validatebox" data-options="validType:'minLength[5]'">  <br>
		 <a href="#" class="easyui-linkbutton" onclick="adminUpdateMysql()">修改</a> 
	</center>
</body>
</html>